<div class="flex flex-wrap items-center justify-center content-center mx-auto px-5 max-w-lg" style="height: 100vh">
  <div class="row flex-none w-full">
    <%= image_tag "logo-bottom.png" %>
  </div>
  <div class="row flex-none w-full mt-3">
    <%= render partial: "components/link_button", :locals => {
      href: "/auth/discord",
      text: "Discordでログイン",
      color: "white",
      bg_class: "bg-discord-black",
      fa_classes: "brands discord",
      turbo: false
    } %>
    <%= render partial: "components/link_button", :locals => {
      href: "/auth/kindai",
      text: "kindai.ac.jpでログイン",
      color: "white",
      bg_class: "bg-kindai",
      fa_classes: "brands google",
      turbo: false
    } %>
  </div>
</div>