<div class="text-center px-2 py-5 bg-kindai text-white leading-loose">
  © 2022-2023 <%= link_to "KINDAI Info-Tech HUB", "https://kithub.jp" %>
  <div class="text-sm">
    <%= link_to "プライバシーポリシー", root_path %> / <%= link_to "活動規約", root_path %>
  </div>
</div>